
.editor-textarea {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-border);
    background-color: var(--color-background-raised);
    color: var(--color-text);
    font-family: var(--font-family-mono);
    font-size: var(--font-size-s);
    padding: var(--space-m);
    border-radius: var(--border-radius-m);
    resize: none;
    line-height: 1.8;
}

.editor-textarea:focus {
    outline: 2px solid var(--color-primary);
    border-color: transparent;
}
